@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    font-family: Nunito, sans-serif;
    background-color: #f3d2c1;
    height: 100vh;
}

.header {
    text-align: center;
    color: #001858;
    font-size: 1.1em;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;/*space-evenly;*/
    width: 100%;
    gap: 5em;
}

.configs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    background-color: gray;
    border: black;
    background-color: #fef6e4;
    border: 4px solid #001858;
    gap: 1em;
}

.grid-size {
    color: #001858;
    font-size: 1.25em;
}

.slider {
    width: 100%;
}

.color-picker {
    /* margin: 1em; */
    width: 100%;
}

button {
    background-color: #f582ae;
    /* margin: .5em; */
    width: 100%;
    height: 4em;
    font-family: Nunito, sans-serif;
    font-size: 1.1em;
    border: 3px solid #001858;
}

button:hover {
    background-color: #f7b3be;
}

button.active {
    background-color: #001858;
    color: #f582ae;
    border: 3px solid #f582ae;
}

input[type=range]{
    -webkit-appearance: none;
    width: 13em;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #001858;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.grid {
    display: grid;
    min-width: 550px;
    min-height: 550px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fef6e4;
    border: 4px solid #001858;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
    .main {
        gap: 2em;
    }

    .configs {
        max-width: 15em;
        max-height: 30em;
    }

    .grid-size {
        font-size: 1.2em;
    }

    .color-text {
        font-size: 1.2em;
    }

    .slider {
        width: 18em;
    }

    .color-picker {
        width: 17.5em;
    }
    .grid {
        min-width: 550px;
        min-height: 550px;
    }
}

@media screen and (max-width: 900px) {
    .main {
        gap: 2em;
    }

    .configs {
        max-width: 10em;
        max-height: 30em;
    }

    .grid-size {
        font-size: 1.2em;
    }

    .color-text {
        font-size: 1.2em;
    }

    .slider {
        width: 18em;
    }

    .color-picker {
        width: 100%;
    }
    .grid {
        min-width: 500px;
        min-height: 500px;
    }
}

@media screen and (max-width: 765px) {
    .header {
        font-size: 1.1em;
    }
    .main {
        flex-direction: column-reverse;
        gap: 1em;
    }

    .configs {
        max-width: 15em;
        max-height: 20em;
    }

    .grid-size {
        font-size: 1.1em;
    }

    .color-text {
        font-size: 1.1em;
    }
    .grid {
        min-width: 300px;
        min-height: 300px;
    }
}


  